body {
    background-color: #1cc5db;
    box-sizing: border-box;
    font-family: 'Quicksand';
}

    .wrapper {
        justify-content: center;
        display: flex;
    }
    
    .flex-outer {
        max-width: 800px;
    }

    .header > h1 {
        font-family: 'Quicksand', sans-serif;
        color: white;
        font-size: 50px;
    }

    .header {
        justify-content: center;
        display: flex;
    }

    .search-form {
        max-width: 400px;
        margin: 50px auto;
        font-family: 'Quicksand', sans-serif;
    }

    input {
        width: 100%;
        padding: 10px;
      }

    .suggestions li {
        display: block;
    }

    li {
        margin: 5px;
        padding: 5px;
        max-width: 500px;
        background: rgb(2,0,36);
        background: linear-gradient(90deg, rgb(241, 238, 8) 0%, rgb(232, 89, 45) 0%, rgba(146,237,255,1) 100%);
    }

    .name {
        font-size: 35px;
    }